@media (min-width:600px) {
    /* Cabecalho */

    body{
        height: 100vh;
        background-color: rgba(127, 255, 212, 0.116);
    }
    .cabecalho{
     flex-direction: row;
    }

    .cabecalho ul{
        display: flex;
        align-self: flex-start;
    }

    .cabecalho ul li{
        margin-right: 1em;
    }

    .cabecalho nav ul li a{
      margin-top: 0px;
    }

    .cabecalho a:hover{
        font-weight: bolder;
        color: violet;
        transition: 0.6s;
    }


    /* Home*/

    .home{
        height: 500px;
    }

    /*Quem somos-total*/

    .quem-somos-total{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #ffffff;
    }

    .quem-somos-total article{
        width: 50%;
        height: 500px;
    }

    .quem-somos  .btn{
        align-self: flex-start;
    }

    /*Referencia */

    .referencias{
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .referencias article{
        width: 30%;
        padding: 1em;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);

    }

    .referencias article h1{
        font-size: 1.9em;
    }

    /* Nosso serviço */

    .servico{
        margin-top: 3em;
        background-color: #ffffff;
    }

    .nosso-servico-total{
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    

   .nosso-servico{
         width: 30%;
         box-shadow: 5px 5px 5px #00000049;
   }

    .p-servico{
        width: 60%;
        margin: auto;
    }


    .apresentacao-time{
        height: 500px;
    }

    .apresentacao-time div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 400px;
        height: 98%;
        align-self: flex-start;
        color: #ffffff;
    }

    .apresentacao-time .btn{
        align-self: center;
    }
    

    /*Time*/

    .time-total{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .profissional{
        width: 350px;
        background-color: #ffffff;
        border-radius: 30px;
    }

    /* Contato*/

    .contato{
        display: flex;
        justify-content: center;
    }
    
    .contato article{
        width: 50%;
    }




}