
/* css Globais*/

h1{
    font-size: 2.4em;
    text-align: center;
}

.btn{
    width: 150px;
    padding: 0.9em;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color:  violet;;
}


.icones{
    text-align: center;
}





/* Cabecalho*/


.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 2em;
    border-bottom: solid 1px #00000063;

}

.cabecalho nav{
    text-align: center;
}


.cabecalho nav ul li a {
    margin-top: 20px;
    font-weight: bolder;
}

/* Conteúdo Total*/



.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color:  rgb(199, 144, 144);
    padding: 10px;
    height: 350px;
    font-weight: bolder;
    background-color: #0000000e;
    
}

.bg-home{
    background: url(../img/Seja-felizwebp.webp) center right no-repeat;
    background-size: cover;
}

.sb-bg{
    background-color: rgba(0, 0, 0, 0.247);
}


.home h1{
    color: whitesmoke;
    font-weight: 900;
    font-family: cursive;
}


 

/*Quem somos*/


.quem-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    height: 500px;
}


.referencias{
    margin-top: 2em;
}


.referencias-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    height: 300px;
}


/* Serviço*/

.servico{
    padding: 1em;
    text-align: center;
}

.servico p{
    text-align: center;
    margin-top: 1em;
}



    .nosso-servico-total .nosso-servico{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1em;
        height: 350px;
        border-radius: 1em;
        background-color: #ffffff;
        
    }



/*Apresentacao time */

.apresentacao-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    height: 300px;
    background: url(../img/Amanhecer.jpg) center center no-repeat;
    background-size: cover;
}

.apresentacao-time div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 98%;
    align-self: flex-start;
    color: #ffffff;
}

.apresentacao-time h1, .apresentacao-time p{
    color: #ffffff;
}

.apresentacao-time h1{
        font-size: 1.9em;
      
}

/* Nosso Time*/



.time h2{
    text-align: center;
    margin-top: 2em;
}

.profissional{
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
}

.profissional img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}


.btn-sap{
    position: fixed;
  bottom: 10px;
  right: 10px;
}


footer{
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.849);
    padding: 15px;
    text-align: center;
}

footer p{
    color: white;
}